*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  --content-background-color:rgba(50, 50, 50, 0.8);
  --field-color: #4d4d4d;
  --field-color-hover: #5d5d5d;
  --field-primary-color: #008000;
  --field-primary-color-hover: #009600;
  --field-danger-color: #ad000e;
  --field-danger-color-hover: #c70011;
  --label-color: #3794c8;

  --border-width: 2px;
  --border-color: #4c4c4c;
}

body {
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  user-select: none;
  overflow: hidden;
}

button {
  border: 0;
  background-color: grey;
  color: white;
  cursor: pointer;
  background-color: var(--field-color);
}

strong {
  font-weight: 600;
}

.btn {
  padding: 10px;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--field-color-hover);
}

.btn:active {
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  --field-color: var(--field-primary-color);
  --field-color-hover: var(--field-primary-color-hover);
}

.btn-danger {
  --field-color: var(--field-danger-color);
  --field-color-hover: var(--field-danger-color-hover);
}

.btn-icon {
  --size: 25px;
  min-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.short {
  max-width: 60px;
}

.grow {
  flex:1
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-gap {
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.shadow {
  box-shadow: 0 0 5px 0 #000000;
}

.success {
  color: var(--field-primary-color-hover)
}

.danger {
  color:var(--field-danger-color-hover)
}